div
	p	
		strong Payment
		p 
			h4 Available Items for Today
			| Click an Item to add it to the Order List
			div(data-ng-init='submitGetAvailableItems()')			
			table
				tr(ng-repeat='itemavailable in itemsavailable')
					td
						button.btn#add-item-btn(ng-click='addItemOrder(itemavailable.itemid, itemavailable.itemname, itemavailable.itemunitprice, itemavailable.itemunitmeasure)') {{itemavailable.itemname}}
		br
		form.sample-form#txn-form
			div
				h4 Order List
				table
					thead
						tr
							th Item ID
							th Item Name
							th Unit Price
							th Quantity
							th Unit Measure
							th Total Amount
					tbody
						tr(ng-repeat='item in itemsorder')
							td {{item.txnitemid}}
							td {{item.txnitemname}}
							td {{item.txnunitprice}}
							td {{item.txnquantity}}
							td {{item.txnunitmeasure}}
							td {{item.txntotalamount}}
			br
			div
				button.btn#payment-btn(ng-click='submitPostTxn(user, $event)', ng-init='data.txntype="Payment"') Submit Payment
