div
	p	
		strong Reload
		br
		| Your transaction history is:
	p 
		| Would you like to reload your Isko-Cash account?
		label Reload Amount
		input(id='amount', type='text', style='height: 60px')		
		br
		input(name='reload', type='button', value='Reload', onclick='alert("You have successfully reloaded " + amount.value + ".\\r\\nYour account balance is now Php XX.")')
   
	div(mm-tabs)
		div(mm-tab="Transaction Form")
			form.sample-form#txn-form(ng-submit="submitGet()")
				label Transaction ID
				input.txnid(ng-model='data.txnid', type='text', name='txnid', value="1")
				label Student ID
				textarea.studentid(ng-model='data.studentid', disabled, placeholder='Student ID is...', name='studentid')
				div
					button.btn#get-studentid-btn Retrieve Student ID

	// button#donate(
				type='submit'
				style='width: 25px; height: 25px; background-color: white;'
				onclick="alert(value(donor))"
				)



//	div
		form.sample-form#post-form(ng-submit="submitPost()")
		label Donation Amount
		input.id(ng-model='data.id', type='text', name='amount')
		label Donor Name
		input.id(ng-model='data.message', placeholder='Put your name here.', name='message')
		div
			button.btn#post-button Yes, I will donate :)

